.fa-search {
	margin: 0 5px 0 0;
	position: relative;
	top: -2px;
}

.fa-bars {
	margin: 0 5px 0 0;
	position: relative;
	top: -1px;
}

.navbar-nav i {
	margin: 0 5px 0 0;
	top: 1px;
}

.content .field-name-field-modpack {
	margin-top: 20px;
}

.content {
	margin-bottom: 20px;
}

#myCarousel {
	max-height: 350px;
}

#myCarousel img {
	width: 100%;
	max-height: 350px;
	border-radius: 4px;
}

.region.region-content .field {
  margin: 20px 0;
}